
/* TELA DE LOADING */
 #body-loading{
  width: 100%;
  margin:0;
 }


#joinville-loading{
  height:40vmin;
  width: 100%;
  max-width: 80%;
  position: absolute;bottom: 10vmin;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

 #eptran-loading {
  position: absolute;top: 60vmin;
  height: 40vmin;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 60%;
}

 #logo-loading {
  width: 100%;
  margin-top:70%;
  color:#f2f2f2;
  font-family:Arial, Helvetica, sans-serif;
 }

 #botoes-loading {
  display: grid;
  position: absolute;
  margin-top: 27vmin;
  width: 100%;
  text-align: center;
 }

 #entrar-loading {
  border-color: rgb(255, 255, 255);
  border-radius: 1vmin;
  border-width: 1px;
  color: #023859;
  height: 7vmin;
  width: 100%;
  max-width: 47%;
  font-size: 3vmin;
  background-color:#f2f2f2;
 } 

 #cadastro-loading {
  text-decoration: underline;
  color: rgb(0, 119, 255);
  width: 100%;
  height: 7vmin;
  font-size: 3vmin;
  background-color: transparent;
  border:none;
 }


  /* TELA DE LOGIN */

#bodyLogin {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
    background-image: url("Imagens/tela_fundo_inteiraBLUR.jpg");
    background-color: #cccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.cabecalho-logo-cadastro{
  width: 100%;
  max-width: 30%;
  height: 20vmin;
  
}

.cabecalho-logo-inicial{
  position: absolute;
  width: 100%;
  max-width: 32%;
  height: auto;

}

.cabecalho-logo-inicial-login{
  margin-left: 12%; 
  margin-right: 12%; 
  padding-left: 3%;
  width: 100%;
  max-width: 35%;
  height: 25vmin;
}


.cabecalho {
  background-color: rgba(0, 83, 151, 0.3);
  color: white;
  width: 100%;
  display: flex;
  padding: 1vmin;
}

#cabecalho-eptran {
  padding-left: 18vmin;
  font-size: 8vmin;
}

#cadastro-cabecalho {
  button {
    height: 8vmin;
    max-width: 40vmax;
    font-size: 3vmin;
    color: #ffffff;
    background-color: #023859;
    border-radius: 1vmin;
    border-color: #797777;
    margin-top: 50%;
    width: 100%;
  }
}

.form_section {
  margin: 1vmin;
  border-radius: 3%;
  justify-content: center;
  background-color: #e0e0e0;
  height: 115vmin;
  width: 100%;
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.joinville{
  
  height: 18vmin;
  margin-top: 2vmin;
  margin-left: 4vmin;
  margin-bottom: 2vmin;
  width: auto;
}

.faixa{                  
  position: absolute;
  height: 5vmin;
  width: auto;
  padding-top: 9vmin;
  padding-left: 20vmin;
}

.responsivo{
  width: 100%;
}

#faixa-amarela-login {
  padding-top: 10vmin;  
  width: 100%;
  max-height: 10vmax;
}

#placa-amarela-login {
  position:absolute;
  padding-top:6vmin;
  max-height: 20vmin;
  width:100%;
  max-width: 20vmin;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.logar{
  margin-left: 6vmin;
  height: 5vmax;
  width: 19vmax;
  border-style: solid;
  border-color: #c9c9c9;
  border-radius:1vmin ;
  border-width: thin;
  background-color:#d9d9d9;
  cursor: pointer;
  padding-right:28vmin;
  margin-top: 4vmin;

  font-size: 4vmin;
  color: #797777;
  
  position: absolute;
}
#input-usuario {
  margin-top: 4vmin;
  width: 100%;
  margin-bottom: 3vmin;
  background-color: #d9d9d9;
  border-color: #c9c9c9;
  max-width: 60vmin;
  background-color: rgb(216, 216, 216);
  border-radius: 1vmin;
  height: 8vmin;
  border-color: #c9c9c9;
  border-style: solid;
  border-width:thin;
  font-size: 3vmin;
}
  #input-senha {
  margin-bottom: 3vmin;
  font-size: 3vmin;
  margin-top: 3vmin;
  background-color: #d9d9d9;
  border-color: #c9c9c9;
  width: 100%;
  max-width: 60vmin;
  background-color: rgb(216, 216, 216);
  border-radius: 1vmin;
  height: 8vmin;
  border-color: #c9c9c9;
  border-style: solid;
  border-width:thin; 
}
#esqueci-senha {
  border-color: transparent;
  background-color: transparent;
  width: 100%;
  max-width: 60%;
  text-decoration: underline;
  font-size: 3vmin;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#13B7EB;
  position: absolute;

}
.div-usuario {
  color: rgb(128, 126, 126);
}
.div-senha {
  color: rgb(128, 126, 126);
  
}

#form-login{
  padding:6vmin;
}

.img_Run{
  position: absolute;
  height: 36vmin;
  width:auto;
  padding-left: 40vmin;
}

#id-usuario,#id-senha{
  font-size:4vmin ;
}

/* TELA DE CADASTRO*/

#body-cadastro {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-image: url("Imagens/tela_fundoBLUR.jpg");
  background-color: #cccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.form-section1 {
  margin: 1vmin;
  border-radius: 2vmin;
  justify-content: center;
  background-image: url("Imagens/cadastro_form.jpg");
  background-size: 80vmin 165vmin;
  background-repeat: no-repeat;
  height: 160vmin;
  width: 100%;
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_Walk{
  height: 36vmin;
  width:auto;
  padding-left: 54vmin;
}

#input-email{
  margin-top: 3vmin;
  width: 100%;
  margin-bottom: 3vmin;
  background-color: #d9d9d9;
  border-color: #c9c9c9;
  max-width: 60vmin;
  background-color: rgb(216, 216, 216);
  border-radius: 1vmin;
  height: 9vmin;
  border-color: #c9c9c9;
  border-style: solid;
  border-width:thin;
  font-size: 3vmin;
}

#input-usuario1{

  margin-top: 3vmin;
  width: 100%;
  margin-bottom: 3vmin;
  background-color: #d9d9d9;
  border-color: #c9c9c9;
  max-width: 60vmin;
  background-color: rgb(216, 216, 216);
  border-radius: 1vmin;
  height: 9vmin;
  border-color: #c9c9c9;
  border-style: solid;
  border-width:thin;
  font-size: 3vmin;
}

#input-senha1{

  margin-top: 3vmin;
  width: 100%;
  margin-bottom: 3vmin;
  background-color: #d9d9d9;
  border-color: #c9c9c9;
  max-width: 60vmin;
  background-color: rgb(216, 216, 216);
  border-radius: 1vmin;
  height: 6vmin;
  border-color: #c9c9c9;
  border-style: solid;
  border-width:thin;
  font-size: 3vmin;
  
}

#input-confSenha{

  margin-top: 3vmin;
  width: 100%;
  margin-bottom: 3vmin;
  background-color: #d9d9d9;
  border-color: #c9c9c9;
  max-width: 60vmin;
  background-color: rgb(216, 216, 216);
  border-radius: 1vmin;
  height: 8vmin;
  border-color: #c9c9c9;
  border-style: solid;
  border-width:thin;
  font-size: 3vmin;
}

#input-nascimento{
  margin-top: 3vmin;
  width: 100%;
  height: 9vmin;
  background-color: #d9d9d9;
  border-color: #c9c9c9;
  max-width: 40vmin;
  background-color: rgb(216, 216, 216);
  border-radius: 1vmin;
  border-color: #c9c9c9;
  border-style: solid;
  border-width:thin;
  font-size: 3vmin;
  color: rgb(128, 126, 126);;
}

.criar-conta{
  height: 10vmin;
  width: 60%;
  border-style: solid;
  border-color: #c9c9c9;
  border-radius:1vmin ;
  border-width: thin;
  background-color:#d9d9d9;
  cursor: pointer;
  margin-top: 5vmin;
  font-size: 5vmin;
  color: #797777;
}

#bodyLogin1 {

  overflow: hidden;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
    background-image: url("Imagens/tela_fundo_inteiraBLUR.jpg");
    background-color: #cccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

#form-login1{
  padding: 6vmin;

}

#id-nascimento{
    color:rgb(128, 126, 126);
  
}

.div-email, .div-senha1, .div-confSenha {
  color: rgb(128, 126, 126); 
}

#button-login{
  background-color: #ffffff;
  width: 100%;
  
}

/* TELA INICIAL --------------------------------------------------------------------------- */

#body-tela-inicial {
  margin: 0;
  background-color: #023859;
  color: white;
}

.tela_inicial {
  display: flex;
}
#texto-tela-inicial { 
  background-color: #f2f2f2;
  width: 100%;
  max-width: 85vmin;
  height: 100vmin;
  max-height: 50vmin;
  border-radius: 3vmin;
  opacity: 0.6;
  color: black;
  margin-left: 8vmin;
}
#inicial-cabecalho{
  background-image: url(Imagens/fundo_telainicial.png);
  background-size: 130vmin;
  background-repeat: no-repeat;
  padding-bottom: 17vmin;
  mask-image: linear-gradient(to bottom, rgb(255, 255, 255) 70%, transparent 100%);
 
  /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
      box-shadow: 0vmin 3vmin 3px  #304a71;*/
}
#bodyTelaInicial{
  margin: 0px;
}

#botao-login-inicio{   
  position: absolute;right: 19vmin;top: 7vmin;
  font-size: 3vmin;
  color: whitesmoke;
  background-color: #023859;
  border-radius: 1vmin;
  border-color: whitesmoke;
  border-style: solid;
  width: 100%;
  height:7vmin;
  max-width: 16%;
  border-width:1px;
}

#acessibilidade-icon {
  position: absolute;top: 20vmin;right: 0;
  position: fixed;
  width:100%;
  height: 100%;
  max-height: 30px;
  max-width: 30px;
  background-color: yellow;
  background-image: url(../Style/Imagens/acessibilidade_icone.png);
  background-size: cover;
}

#acessibilidade-div{
  
}

#botao-cadastro-inicio{
  position: absolute;right: 2vmin;top: 7vmin;
  height: 7vmin;
  font-size: 3vmin;
  color: whitesmoke;
  background-color: #023859;
  border-radius: 1vmin;
  border-color: whitesmoke;
  border-style: solid;
  width: 100%;
  max-width: 16%;
  border-width:1px;
}

#botao-cadastro-verde{
  margin-left: 2vmin;
}

.botoes-series-imagens {
  height: 10vmin;
  height: 100%;
  max-width: 10vmin;
  padding-top: 6vmin;
}
.botoes-series {
  padding: 0;
  max-width: 15vmin;
  background-color:transparent;
  border-style: none;
}

.id-section-texto {
  padding-top: 3vmin;
  width: 100%;
  align-content: center;
  align-items: center;
}

.border{
  border: 5px solid black;
}

#texto-conheca{
  Text-align: center;
  color:whitesmoke;
  font-size: 8vmin;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 7vmin;
}

#texto-oque-somos{
  font-family:fantasy;
  width: fit-content;
  padding-left: 10vmin;
  -webkit-text-stroke-width: 0.001em;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.imagens-preview-ti {
  width: 100%;
  max-width: 70%;
  height: 10%;
  border-width: 2px;
  border-color: rgb(255, 233, 233);
  border-style: solid;
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  border-radius: 2vmin;
  margin-bottom: 5vmin;
}  

#inicial-sec {
}

/* SERIES INICIAIS ----------------------------------------------------------------------------------------------------------------*/

#SectionBacground{
  background-image:;
}

#body-series-iniciais {
  margin: 0;
  color: white;
  background-image: url(Imagens/background_series_iniciais.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#series-iniciais_cabecalho {
  background-color: #023859;
  display: flex;
  }

#video1 {
  width: 100%;
  max-width: 80%;
  height: 55vmin; 
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  border: 10px solid;
  border-image:url(Imagens/corda.png) 35;
  border-image-repeat: stretch;
}

.texto-iniciais{
  font-size:5vmin;
  margin-left: 10vmin;
  color: black;
  border: 2px;
  border-color: black;
}

#iniciais-sec{
  margin-top: 15vmin;
  font {
    -webkit-text-stroke-width: 0.04em;
    -webkit-text-stroke-color: rgb(49, 49, 49);
  }
}

/* SERIES FINAIS ----------------------------------------------------------------------------------------------------------------*/

#bodySeriesFinais {
  margin: 0;
  background-image: url(../Style/Imagens/estrada_fundo_icon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#cabecalho-series-finais {
  background-color: #023859;

}

.OpcoesHeader{
  display:flex;
  position: absolute;
  justify-content: space-between;
  top: 7vmin;
  left: 65vmin;
  width: 100%;
  max-width: 30vmin;
}

.downloadIcone {
  position: relative;
  background-image: url(../Style/Imagens/download_icon.png);
  background-size: cover;
  padding: 5;
  max-width: 15vmin;
  height: 5vmin;
  width:100%;
  max-width: 5vmin;
  background-color:transparent;
  border-style: none;
}

#VideoExemplo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin:0;
  text-align: center;
  color: rgb(0, 0, 0);
}

.Apostila {
  width:100%;
  max-width: 15vmin;
  background-color:transparent;
  margin-right: 5vmin;
  border-style: none;
  color: white;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.UsuarioHeader {
  position: relative;
  background-image: url(../Style/Imagens/usuario_icone.png);
  background-size: cover;
  height: 6vmin;
  width:100%;
  max-width: 5vmin;
  background-color:transparent;
  border-style: none;
}

#div-video-principal {
  display: flex;
  justify-content: center;
  iframe {
    height: 100%;
    max-height: 50vmin;
    max-width: 80vmin;
    width: 100%;
  }
}
#outros-videos {
  text-align: center;
}